<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head/>
    <body>
        <div th:fragment="footer">
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Versão</b> 1.0.0
                </div>
                <strong>Desenvolvido por <a href="http://www.ciasc.sc.gov.br">CIASC</a></strong>
                <!-- &copy; 2017 Todos os direitos reservados. -->
            </footer>
        </div>

        <!--/*  Multiple fragments may be defined in one file */-->
        <div th:fragment="footer-admin">
        </div>
    </body>
</html>