<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head/>
    <body>
        <div th:fragment="footer">
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <!-- <b>Versão</b> 1.0.0 -->
                    <strong>Desenvolvido por <a href="http://www.ciasc.sc.gov.br" target="_blank">CIASC</a></strong>
                </div>
                <strong>
                    <a href="http://www.sea.sc.gov.br" target="_blank">Secretaria de Estado da Administração</a> -
                    <a href="http://www.sc.gov.br" target="_blank">Governo de Santa Catarina</a>
                </strong>
                <!-- &copy; 2017 Todos os direitos reservados. -->
            </footer>
        </div>

        <!--/*  Multiple fragments may be defined in one file */-->
        <div th:fragment="footer-admin">
        </div>
    </body>
</html>