<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head/>
    <body>
        <div th:fragment="menu">

            <!-- Left side column. contains the sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 351px;">
                    <section class="sidebar" style="height: 351px; overflow: hidden; width: auto;">
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu">
                            <li class="header">MENU PRINCIPAL</li>
                            <!--
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="../../layout.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                    <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                                </ul>
                            </li>
                            -->
                            <!--
                            <li class="treeview active">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Layout Options</span>
                                    <span class="pull-right-container">
                                        <span class="label label-primary pull-right">4</span>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                                    <li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                                    <li class="active"><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                                    <li><a href="collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                                </ul>
                            </li>
                            -->
                            <li class="treeview">
                                <a href="#" th:href="@{/}">
                                    <i class="fa fa-unlock-alt"></i><span> Cadastros básicos</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#" th:href="@{/materiais}"><i class="fa fa-circle-o"></i> Materiais</a></li>
                                    <li><a href="#" th:href="@{/}"><i class="fa fa-circle-o"></i> Serviços</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" th:href="@{/senhaTs/index}">
                                    <i class="fa fa-unlock-alt"></i><span> Senha de acesso remoto</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                    
                    <div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.2); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 124.95px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                    </div>
                    
                </div>
                <!-- /.sidebar -->
            </aside>

        </div>
    </body>
</html>