<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

    <head/>
    
    <body>
        <div layout:fragment="content">
            
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Senha de acesso ao LIC</h1>
                <ol class="breadcrumb">
                    <li><a href="/"> Painel</a></li>
                    <li class="active"> Senha LIC</li>
                </ol>
            </section>
            
            <!-- Main content -->
            <section class="content">
                
                <div class="box box-success">
                    
                    <div class="box-header with-border">
                        <h3 class="box-title">Solicitação de reconfiguração da senha de acesso ao LIC enviada</h3>
                    </div>
                    
                    <div class="box-body">

                        <span th:text="${solicitacao}"/>

                        <div class="form-group">
                            <label class="control-label">Órgão: </label>
                            <p class="form-control-static"><span th:text="*{orgao}"></span></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">User Name: </label>
                            <p class="form-control-static"><span th:text="*{userName}"></span></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Data da solicitação: </label>
                            <p class="form-control-static"><span th:text="*{dataCadastro}"></span></p>
                        </div>
                    </div>
                    <!--
                    <div class="box-footer">
                    </div>
                    -->
                </div>
            </section>
        </div>
    
    </body>
</html>