<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

    <head/>

    <body>
        <div layout:fragment="content">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Senha de acesso ao LIC
                    <!--
                    <small>Blank example to the fixed layout</small>
                    -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"> Painel</a></li>
                    <li class="active"> Senha LIC</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                
                <div class="box box-success">
    
                    <form role="form" method="post" th:object="${solicitacao}" th:action="@{/solicitacao/confirm}">
                        
                        <div class="box-header with-border">
                            <h3 class="box-title">Solicitar reconfiguração da senha de acesso ao LIC</h3>
                        </div>
                        
                        <div class="box-body">
                            <!--
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p th:text="#{form.hasErrors}">Error Message</p>
                            </div>
                            -->
                            <div class="form-group">
                                <label class="control-label" for="selectOrgao">Órgão: </label>
                                <select class="form-control" id="selectOrgao" required="required"
                                        th:field="*{orgao}">
                                    <div>
                                        <option disabled="true" selected="selected"
                                                value="">Selecione o Órgão...</option>
                                        <option th:each="varOrgao : ${listaDeOrgaos}"
                                                th:value="${varOrgao.id}"
                                                th:text="${varOrgao.nome}"></option>
                                    </div>
                                </select>
                            </div>

                            <div th:class="${#fields.hasErrors('userName')} ? 'form-group has-error' : 'form-group'">
                            <!--div class="form-group"-->
                                <label class="control-label" for="inputUserName">User Name: </label>
                                <input type="text" class="form-control" id="inputUserName"
                                       placeholder="Informe o User Name..." required="required"
                                       th:field="*{userName}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"/>
                            </div>
                        </div>
                        
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Solicitar reconfiguração de senha</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>

    </body>
</html>