<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

    <head/>

    <body>
        <div layout:fragment="content">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Senha de acesso ao LIC
                    <!--
                    <small>Blank example to the fixed layout</small>
                    -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"> Painel</a></li>
                    <li class="active"> Senha LIC</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                
                <div class="box box-success">
    
                    <form role="form" method="post" th:object="${solicitacao}" th:action="@{/solicitacao/confirm}">
                        
                        <div class="box-header with-border">
                            <h3 class="box-title">Solicitar reconfiguração da senha de acesso ao LIC</h3>
                        </div>
                        
                        <div class="box-body">
    
                            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <p th:text="#{form.hasErrors}">Error Message</p>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputOrgao">Órgão: </label>
                                <input type="text" class="form-control" id="inputOrgao" placeholder="Órgão" th:field="*{orgao}"/>
                            </div>
                            <div class="form-group">
                                <label for="inputUserName">User Name: </label>
                                <input type="text" class="form-control" id="inputUserName" placeholder="User name" th:field="*{userName}"/>
                            </div>
                        </div>
                        
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Solicitar reconfiguração de senha</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>

    </body>
</html>